.bodyMainContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0px;
    padding: 6px;

    & .mainInfo{
        display: flex;
        flex-direction: column;
        margin: 4px 10px;
        & .mainInfoBanner{
            background: #f2f2f2;
            height: 300px;
            line-height: 300px;
            text-align: center;
            width: 100%;
        }
        & .mainInfoPanelContainer{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-around;
            margin-top: 4px;
            & .mainInfoPanel{
                background: #f2f2f2;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                font-size: 12px;
                height: 400px;
                margin-top: 10px;
                transition: all ease-in 200ms;
                width: 300px;
                & img{
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    height: 200px;
                    width: 300px;
                    background: lightgreen;
                    text-align: center;
                    line-height: 200px;
                    font-weight: bolder;
                    font-size: medium;
                }
                & .panelInfo{
                    display: flex;
                    flex-direction: column;                    
                    & .infoTitle{
                        font-size: 20px;
                        line-height: 10px;
                        margin-bottom: 0px;
                    }
                    & a{
                        align-self: flex-end;
                        justify-self: flex-end;
                        padding: 0px 10px;
                        text-decoration: none;
                        color: black;
                        font-size: medium;
                        font-weight: bold;
                        &:hover{
                            color:gray;
                        }
                    }
                }
                &:hover{
                    background: white;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    font-weight: 500;
                }
            }
        }
    }

    & .newInfo{
        align-content:space-around;
        background: #f2f2f2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        & .newInfoCard{
            border-radius: 10px;
            margin-top: 20px;
            background: #ffffff;
            width: 90%;
            height: 200px;
            padding-left: 10px;
            & strong{
                float: left;
                margin-top: 20px;
                margin-right: 10px;
            }
            & img{
                background: lightgreen;
                text-align: center;
                line-height: 100px;
                font-weight: bolder;
                font-size: medium;
                color: black;


                border-radius: 10px;
                display: inline;
                float: left;
                height: 100px;
                width: 30%;
                margin: 10px 10px 0px 10px;
               
            }
            &:hover{
                background: white;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                font-weight: 500;
            }
        }
    }
}